<% if @chirps.empty? %>
  <p>No chirps yet!</p>
 <% else %>
   
   	<% @chirps.each do |chirp| %>
   	<div class='chirp'>
   		<p><%= chirp.user.slug %>:</p>
   		<p class='status'><%= chirp.status %></p><p><%= chirp.created_at %></p><p><%= link_to "Edit Chirp", edit_chirp_path(chirp) %></p> 

   	</div>
   	<p>
   	<%= button_to "Delete Chirp", chirp, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
   </p>
   	<% end %>
   
  <% end %>